@import "../../styles/variables";



.Thumbnail {
  width: 370px;
  height: 220px;
  margin: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 5px 5px 5px $color-mauve;
  cursor: default;
  border-radius: 5px 5px;

  &__img {
    display: block;
    position: relative;
    width: 370px;
    height: 220px;
    transition: all 0.4s ease-in-out 0.5s;
    

    &:hover {
      transition-delay: 0s;
    }
  }

  &__icon{
    padding: 5px 5px;
    color: $color-indigo;

    &:hover{
      color: $color-fuchsia;
    }
    &:active{
      color: $color-indigo;
    }
    &:visited{
      color: $color-indigo;
    }
  }

  &__detail {
    // width: 300px;
    // height: 200px;
    font-family: $secondary-font;
    position: absolute;
    overflow: hidden;
    // position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(251,141,160, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in 0.4s;
    transform: scale(5);
    padding: 5px 5px;
    text-align: center;
    font-weight: bolder;

    &:hover {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.2s;
    }


    &_title {
      color: $color-indigo;
 
    }

    &_desc {
      margin: 8px 5px;
      background-color: $color-purple;
      color: $color-lilac;
      font-size: 0.8rem;
    }

    &_tools {
      color: $color-indigo;
      font-size: 0.8rem;
      // margin: 10px 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
     justify-content: center;
     padding: 0;
     font-family: $primary-font;
     

    &_li{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    }

    &_icon{
      color: $color-indigo;
      display: flex;
      justify-content: flex-end;
     
    }
  }
}
