@import "../../styles/variables";


.container{
  padding: 100px 400px 0px 400px;
  min-height: 80vh;
}

.brandcontainer{
  padding: 10px 0px;
}

.brand {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;


  &__name {
    font-family: $secondary-font;
    font-size: 6rem;
    color: $color-purple;
    margin: 0;
    text-shadow: -1px -1px 1px #efdcf9, 1px 1px 1px $color-purple;
    opacity: 0.9;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 3rem;
    color: $color-mauve;
    margin: 0;
  }

  &__par {
    color: $color-purple;
    font-size: 1.2rem;
    margin: 0;
    font-family: $primary-font;
    max-width: 500px;

    &_wave {
      animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s; /* Change to speed up or slow down */
      animation-iteration-count: infinite; /* Never stop waving :) */
      transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
      display: inline-block;
      font-size: 2rem;
    }

    @keyframes wave-animation {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      } /* The following five values can be played with to make the waving more or less extreme */
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      } /* Reset for the last half to pause */
      100% {
        transform: rotate(0deg);
      }
    }
  }

&__btn{
  font-family: $primary-font;
  font-size: 1.2rem;
  font-weight: bolder;
  color: $color-purple;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  border-color: $color-fuchsia;
  margin-top: 40px;

  &:hover{
    background-color: rgba(251,69,112, 0.3);
    color: $color-fuchsia;
  }
}

}
