@import "../../styles/variables";

.container {
  padding: 80px 200px 0px 200px;
  min-height: 80vh;
}

.brandcontainer {
  padding: 10px 0px;
}

.brand {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__name {
    font-family: $secondary-font;
    font-size: 6rem;
    color: $color-purple;
    margin: 0;
    text-shadow: -1px -1px 1px #efdcf9, 1px 1px 1px $color-purple;
    opacity: 0.9;

    &_tiny {
      font-size: 1rem;
      font-family: $primary-font;
      text-shadow: none;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-size: 3rem;
    color: $color-mauve;
    margin: 0;
  }

  &__par {
    color: $color-purple;
    font-size: 1.2rem;
    margin: 0;
    font-family: $primary-font;
    // max-width: 500px;
  }

  &__greeting {
    color: $color-fuchsia;
    font-size: 3rem;
    margin: 0;
    font-family: $tertiary-font;
    font-weight: bolder;
  }

  &__btn {
    font-family: $primary-font;
    font-size: 1.2rem;
    font-weight: bolder;
    color: $color-purple;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    border-color: $color-fuchsia;
    margin-top: 40px;

    &:hover {
      background-color: rgba(251, 69, 112, 0.3);
      color: $color-fuchsia;
    }
  }
}
