@import "../../styles/variables";

.projects {
  margin: 100px 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__feature{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
  }

  &__firstFeatured{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 500px;
    margin-top: 0;

    &_category{
      font-family: $primary-font;
      color: $color-fuchsia;
      font-weight: bolder;
      font-size: 0.8rem;
      margin: 0;
    }

    &_title{
      font-family: $secondary-font;
      font-size: 2rem;
      color: $color-purple;
      font-weight: bolder;
      margin: 0;
    }

    &_desc{
      font-family: $secondary-font;
      color: $color-lilac;
      background-color: $color-purple;
      padding: 10px 10px;
      text-align: right;
      &_link{
        color: $color-pink;
        text-decoration: none;
        font-weight: bolder;
        &:hover{
          color: $color-darkpink;
        }
      }
    }

    &_tools{
      display: flex;
      flex-direction: row;
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin: 25px 0px 0px;
      font-family:$primary-font;
      color: $color-fuchsia;
      font-weight: bolder;
      font-size: 0.8rem;

      &_li{
      margin: 0px 0px 5px 15px;
      }
    }
  }

  &__secondFeatured{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-top: 0;
    &_category{
      font-family: $primary-font;
      color: $color-fuchsia;
      font-weight: bolder;
      font-size: 0.8rem;
      margin: 0;
    }

    &_title{
      font-family: $secondary-font;
      font-size: 2rem;
      color: $color-purple;
      font-weight: bolder;
      margin: 0;
    }

    &_desc{
      font-family: $secondary-font;
      color: $color-lilac;
      background-color: $color-purple;
      padding: 10px 20px;
      &_link{
        color: $color-pink;
        text-decoration: none;
        &:hover{
          color: $color-darkpink;
        }
      }
    }

    &_tools{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
      margin: 25px 0 0 0;
      font-family:$primary-font;
      color: $color-fuchsia;
      font-weight: bolder;
      font-size: 0.8rem;
      margin-left: -10px;
      padding-left: 0;
      &_li{
      margin: 0px 0px 0px 15px;
      }
    }
  }

  &__title {
    font-family: $secondary-font;
    color: $color-purple;
    font-weight: bolder;
    font-size: 1.8rem;
    white-space: nowrap;
 
    &::after{
    content: "";
    display: inline-block;
    width: 500px;
    height: 1px;
    margin: 5px 10px 5px;
    background-color: $color-mauve;
  }
  &_other {
    font-family: $secondary-font;
    color: $color-purple;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    margin: 150px 0 50px 0;
    &::after, &::before{
      content: "";
      display: inline-block;
      width: 300px;
      height: 1px;
      margin: 5px 10px 5px;
      background-color: $color-mauve;
    }
  }
}
  
}


ul, li {
  padding: 0;
  list-style-type: none;
}
