@import "../../styles/variables";

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  align-items: center;
  align-content: center;
  text-align: start;
  width: 600px;


  &__icon{
  padding: 20px 20px;

  &_html{
    color: #dd4b26;
  }

  &_css{
    color: #5e92c4;
  }

&_sass{
  color: #cd679a;
}

&_react{
  color: #5ed3f3;
}

  &_git{
    color: #eb4c38;
  }
  }

}
