$primary-font: 'Montserrat Alternates';
$secondary-font: 'Raleway';
$tertiary-font: 'Dancing Script', cursive;


$color-mauve: #905171;
$color-purple: #4C3B55;
$color-yellow: #FEECC3;
$color-fuchsia: #fb4570;
$color-indigo: #340744;