$primary-font: 'Montserrat Alternates';
$secondary-font: 'Raleway';
$tertiary-font: 'Dancing Script', cursive;


$color-mauve: #905171;
$color-purple: #4C3B55;
$color-yellow: #FEECC3;
$color-paleyellow: #fbe7c6;
$color-fuchsia: #fb4570;
$color-indigo: #340744;
$color-pink: #ffaebc;
$color-lilac: #eae6f0;
$color-purplehaze: #efdcf9;
$color-darkpink: #AE388B;