@import "../../styles/variables";


.Footer{
    color:$color-mauve;
    font-family: $secondary-font;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 0.8rem;
}


