@import "../../styles/variables";

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 80px 200px;
  // grid-gap: 50px;
}

.aboutme {
  &__normal {
    font-family: $secondary-font;
    text-align: start;
    font-weight: bolder;
    font-size: 1.8rem;
    padding: 10px 0px;
    color: $color-purple;
    &::after{
      content: "";
      display: inline-block;
      width: 500px;
      height: 1px;
      margin: 5px 10px 5px;
      background-color: $color-mauve;
    }
  }

  &__par {
    font-family: $primary-font;
    text-align: start;
    font-size: 1.1rem;
    color: $color-purple;

    &_bold {
      font-family: $secondary-font;
      color: $color-mauve;
      text-decoration: none;
      font-weight: bolder;

      &:hover{
        color: $color-fuchsia;
      }
    }
  }
}

.aboutphoto {
  text-align: center;
  padding-top: 50px;
  

  &__myphoto {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px $color-mauve;
    opacity: 0.5;
    

    &:hover {
      opacity: 1;
      box-shadow: 5px 5px 5px $color-fuchsia;
      margin: 5px 5px;
    }
  }
}
